APP_NAME=VeriCred API
APP_ENV=development
DEBUG=true

HOST=127.0.0.1
PORT=8000

SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
CHAIN_ID=11155111

CONTRACT_ADDRESS=YOUR_DEPLOYED_CONTRACT_ADDRESS

IPFS_API_URL=
IPFS_GATEWAY_URL=https://ipfs.io/ipfs/

CORS_ORIGINS=http://localhost:5173